<ion-content>
	<ion-row class="ion-margin-top">
		<ion-col class="">
			<div class="ml-2 onoffswitch ion-float-right">
				<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox ng-untouched ng-valid ng-dirty" (click)="changeStatus()" [(ngModel)]="status" id="myonoffswitch" [checked]="status">
				<label class="onoffswitch-label" for="myonoffswitch"></label>
			</div>
		</ion-col>
  	</ion-row>
  
    <div class="ion-margin-horizontal">
		<ion-text color="bluedark">
			<h3 class="ion-text-center pr-h3 my-0">{{name}}</h3>
		</ion-text>
    </div>
    <br>
    
    <ion-grid>
      	<form #form="ngForm" (ngSubmit)="createForm()">
			<ion-row *ngFor="let a of hour; let i = index">
				<ion-col size="5">
					<ion-item style="width: 100px;" class="ion-float-right">
						<ion-datetime [(ngModel)]="a.start" [ngModelOptions]="{ standalone: true }" pickerFormat="HH:mm" (ionChange)="validar(i, 'start')" displayFormat="HH:mm" hourValues="{{ a.hourStart }}" minuteValues="0,15,30,45" [disabled]="a.disableStart"></ion-datetime>
					</ion-item>
				</ion-col>
				<ion-col size="1" class="ion-text-center ion-align-self-center">
					a
				</ion-col>
				<ion-col size="5" class="ion-justify-content-end">
					<ion-item style="width: 100px;">
						<ion-datetime [(ngModel)]="a.end" [ngModelOptions]="{ standalone: true }" pickerFormat="HH:mm" (ionChange)="validar(i, 'end')" displayFormat="HH:mm" hourValues="{{ a.hourEnd }}" minuteValues="0,15,30,45" [disabled]="a.disableEnd"></ion-datetime>
					</ion-item>
				</ion-col>
				<ion-col size="1" class="ion-text-center ion-align-self-center" *ngIf="a.icon">
					<ion-icon name="remove" (click)="removeHour(i)"></ion-icon>
				</ion-col>
			</ion-row>
			<ion-icon name="add" (click)="addNewHour()"></ion-icon>
       		<br>
			<ion-row class="ion-justify-content-between">
				<ion-col size="12" class="ion-text-center">
					<ion-button type="submit"  class="font15 mx-2" color="bluedark">Guardar</ion-button>
					<ion-button (click)="closeModal()" class="font15 btnVolver mx-2" color="white">Volver</ion-button>
				</ion-col>
				<label class="error-message" >{{ errorMessage }}</label>
			</ion-row>
     	 </form>
    </ion-grid>
</ion-content>
