.imgAvatar {
    border: 3px solid #e1e1e1;
    // padding: 3px;
}

.avatar{
    margin: auto;
    // position: absolute;
    // top: -30px;
    // right: 3.5%;
    width: 180px;
    height: 180px;
    z-index: 2;
 }

//  .iconCamera {
//     background-color: #4e5d6a;
//     color: #fff;
//     font-size: 30pt;
//     border-radius: 50%;
//     padding: 5px;
//     position: absolute;
//     right: 103px;
//     top: 221px;
//     box-shadow: 0px 0px 10px #222;
//  }

