.imgAvatar {
    border: 3px solid #e1e1e1;
    // padding: 3px;
}
.mt-0 {
    margin-top:0px;
    margin-bottom: 10px;
}
.iconBack {
    margin-top: -15px;
    font-size: 25pt;
    margin-left: 20px;
}
.avatar{
    margin: auto;
    width: 130px;
    margin-top: -25px;
    height: 130px;
    z-index: 2;
 }
 .edit-img{
    position: absolute;
    top: 105pt;
    color: white;
    font-size: 24pt;
    right: 123pt;
 }
 
.iconn{
    color: #4e5d6a;
}
.mt-save{
    margin-top:30px;
}

.text-perfil {
    color:#4e5d6a;
    font-weight: bold;
}