<ion-header no-border>
  <ion-toolbar color="">
      <ion-grid  class="ion-no-padding">
          <ion-row class="ion-no-padding bgWhite" style="height: 64px;">
            <ion-col size="6" class="ion-no-padding ion-align-self-center">
                <img class="logoNav" src="assets/img/logo-raus.png" alt="logo">
            </ion-col>
            <ion-col size="6" class="ion-no-padding ion-text-right ion-align-self-center">
                <ion-button color="white" class="actionIcon" (click)="notificaciones()">
                    <ion-icon class="IconNav" src="assets/img/icon/campa3.svg"></ion-icon>
                </ion-button>
                <ion-button color="white" class="actionIcon ion-align-self-center">
                    <ion-icon class="IconNav" src="assets/img/icon/inbox3.svg"></ion-icon>
                </ion-button>
                <ion-button color="white" class="actionIcon ion-align-self-center">
                    <ion-icon class="IconNav" src="assets/img/icon/ra2.svg"></ion-icon>
                </ion-button>
                <ion-button color="white" class="actionIcon ion-align-self-center" >
                    <ion-icon class="IconNav" src="assets/img/icon/ojo2.svg"></ion-icon>
                </ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
      <!-- <ion-grid class="ion-no-padding">
        <ion-row class="">
          <ion-col class="" size="3" class="hgLine">
              <ion-avatar class="avatar">
                  <img class="imgAvatar" src="assets/img/avatar.jpg" alt="avatar perfil">
              </ion-avatar>
              <ion-icon class="font16" name="menu"></ion-icon>
          </ion-col>
          <ion-col size="6" class="hgLine ion-text-center px-0">
            <p class="font16 my-0 ">Balance</p>
            <p class="my-0 "> <span class="font60">81</span> <span class="font18 decimal">,00€</span></p>
          </ion-col>
          <ion-col class="ion-justify-content-center ion-align-self-center ion-text-center" size="3">
              <ion-icon class="iconPlay" name="play"></ion-icon> <br>
              <span>Enviar</span>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-toolbar>
</ion-header>
