<!-- <ion-header>
  <ion-toolbar>
    <ion-title>agregarlisto</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-align-self-end ion-margin-horizontal">
    <div class="ion-text-center lineHgListo">
      <ion-icon color="bluedark" class="iconGigant"  name="checkmark"></ion-icon>
      <p class="font40 ion-no-margin ion-text-center blue-dark2">
          Listo!
      </p>
    </div>
    <br>
    <br>
    <div class="ion-text-center blue-dark2 ion-margin-top">
      <span class="font14 ">
          Tu saldo se ha agreado <br>
          correctamente
      </span>
    </div>
</ion-content>
