.iconBack{
    position: absolute;
    top: 20%;
    font-size: 45px;
    left: 5%;
}
.no-p{
	padding-top: 0;
	padding-bottom:0;
}
.iconHist{
    // position: absolute;
    // left: 45%;
    font-size: 50pt;
}