.iconBack{
    position: absolute;
    top: 10%;
    font-size: 45px;
    left: 5%;
}
.iconHist{
    font-size: 50pt;
}
// .mt-config{
//     margin-top: -20pt;
// }
.f-historial{
    margin-top:15px;
    color:#89acdb;
}
.card-expandable{
    box-shadow: none !important;
    border-bottom: 1px solid;
    border-color: #657b97;
}
.margin-header{
    margin-bottom:4pt;
    margin-left: -8pt;
}
.arrow-icon{
    font-size: 22pt;
}
.color-font{
    color:black !important;
    font-family: var(--ion-font-family) !important;
}
.list-panel{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: -24px;
    padding-left: 0;
    padding-right: 0;
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    background: var(--ion-item-background,var(--ion-background-color,#fff));
}
.item-ion-style{
    border-color: #657b97;
    /* margin-bottom: 5.33333px; */
    margin-left: -10.6667px;
    overflow-wrap: break-word;
    padding-bottom: 16px;
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
    -webkit-padding-start: 7px;
    padding-inline-start: 7px;
    /* padding-left: 16px; */
    /* padding-right: 16px; */
    padding-top: 0px;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden;
    cursor: pointer;
    height: 15px; 
    padding: 0; 
    line-height: 15px;
    border: 2px solid #494947;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    padding:0;
    border-radius: 5px;
    margin: 0px;
    background: #4e5d6a;
    position: absolute;
    top: 2.7px;
    bottom: 0;
    right: 32px;
    /* border: 2px solid #000; */
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-label2 {
    display: block; 
    overflow: hidden;
    cursor: pointer;
    height: 15px; 
    padding: 0; 
    line-height: 15px;
    border: 2px solid #494947;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label2:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    padding:0;
    border-radius: 5px;
    margin: 0px;
    background: #4e5d6a;
    position: absolute;
    top: 2.7px;
    bottom: 0;
    right: 32px;
    /* border: 2px solid #000; */
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch {
    position: relative; 
    width: 45px;
    margin-left: 4px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
// .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
//     border: 2px solid #eee;
// }
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 4px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label2:before {
    right: 4px;
}
.button-salir{
    --padding-start: 16px !important;
    color:black !important;
    font-family: var(--ion-font-family) !important;
}
.boxLogo{
    margin-top: 30pt;
    margin-bottom: 30px;
}
.logoImg{
    width: 25%;
}
.derechos-reserv{
    margin: 0;
}