
<ion-content>
    <div>
      <ion-row>
      <ion-col size="12">
        <ion-icon class="iconBack ion-text-center" src="assets/img/icon/back.svg" routerLink="/opciones"></ion-icon>
      </ion-col>
      </ion-row>
      <ion-row class="mt-config">
        <ion-col size="12">
          <ion-icon class="iconHist ion-text-center" src="assets/img/icon/config.svg"></ion-icon>
          <p class="font18 f-historial ion-text-center">Configuración</p>
        </ion-col>
      </ion-row>
    </div>
    <ion-list class="list-panel">
      <!-- Notificaciones -->
      <ion-item class="item-ion-style">
        <ion-label class="font16 color-font" style="padding-bottom:10pt;">Notificaciones</ion-label>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
      </ion-item>
      <!-- Vibracion -->
      <ion-item class="item-ion-style">
        <ion-label class="font16 color-font" style="padding-bottom:10pt;">Vibración</ion-label>
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
            <label class="onoffswitch-label2" for="myonoffswitch2"></label>
        </div>
      </ion-item>
    </ion-list>
    <!-- Soporte -->
        <ion-card class="card-expandable" (click)="expandItem(item)" *ngFor="let item of items">
            <ion-card-header class="margin-header" (click)="toggleZipped()">
              <ion-card-title class="font16 color-font">Soporte <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
              </ion-card-title>
            </ion-card-header>
            <ion-card-content class="content-expandable">
              <app-expandable expandHeight="120px" [expanded]="item.expanded">
                <p class="font14">
                  Opciones
                </p>
                <p class="font14">
               Opciones
                </p>
                <p class="font14">
               Opciones
                </p>
              </app-expandable>
            </ion-card-content>
          </ion-card>
    <!-- Sobre Raus -->
        <ion-card class="card-expandable" (click)="expandItem2(item)" *ngFor="let item of items">
              <ion-card-header class="margin-header" (click)="toggleZipped2()">
                <ion-card-title class="font16 color-font">Sobre Raus <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped2 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="content-expandable">
                <app-expandable expandHeight="120px" [expanded]="item.expanded2">
                  <p class="font14">
                    Opciones
                  </p>
                  <p class="font14">
                 Opciones
                  </p>
                  <p class="font14">
                 Opciones
                  </p>
                </app-expandable>
              </ion-card-content>
        </ion-card>
    <!-- FAQ -->
    <ion-card class="card-expandable" (click)="expandItem3(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped3()">
          <ion-card-title class="font16 color-font">FAQ <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped3 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded3">
            <p class="font14">
              Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
          </app-expandable>
        </ion-card-content>
    </ion-card>
    <!-- Cerrar Cuenta -->
    <ion-card class="card-expandable" (click)="expandItem4(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped4()">
          <ion-card-title class="font16 color-font">Cerrar cuenta <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped4 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded4">
            <p class="font14">
              Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
          </app-expandable>
        </ion-card-content>
    </ion-card>
    <!-- Condiciones y Terminos -->
    <ion-card class="card-expandable" (click)="expandItem5(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped5()">
          <ion-card-title class="font16 color-font">Condiciones y terminos <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped4 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded5">
            <p class="font14">
              Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
          </app-expandable>
        </ion-card-content>
    </ion-card>
    <!-- Politicas de Privacidad -->
    <ion-card class="card-expandable" (click)="expandItem6(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped6()">
          <ion-card-title class="font16 color-font">Politicas de privacidad <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped4 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded6">
            <p class="font14">
              Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
          </app-expandable>
        </ion-card-content>
    </ion-card>
    <!-- Acerca de -->
    <ion-card class="card-expandable" (click)="expandItem7(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped7()">
          <ion-card-title class="font16 color-font">Acerca de <ion-icon class="arrow-icon ion-float-right" color="bluedark" [name]="zipped4 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded7">
            <p class="font14">
              Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
            <p class="font14">
           Opciones
            </p>
          </app-expandable>
        </ion-card-content>
    </ion-card>
    <ion-button class="font16 button-salir" fill="clear">Salir de Raus</ion-button>
    <div class="ion-text-center boxLogo">
        <img class="logoImg" src="assets/img/logo-raus.png" alt="logotipo">
        <p class="color-font derechos-reserv">Todos los derechos reservados</p>
      </div>
    </ion-content>
    