.iconHist{
    position: absolute;
    left: 45%;
    font-size: 45px;
}
.mt-config{
    margin-top: -20pt;
}
.f-historial{
    margin-top:35px;
    color:#89acdb;
}
.iconBack{
    position: relative;
    font-size: 45px;
    left: 2%;
}
.card-expandable{
    box-shadow: none !important;
    border-bottom: 1px solid;
    border-color: #657b97;
}
.margin-header{
    margin-bottom:4pt;
    margin-left: -8pt;
}
.arrow-icon{
    position: absolute;
    font-size: 22pt;
}
.color-font{
    color:black;
}
// .content-expandable{
//     height: 78px;
// }