<ion-content>
    <div class="ion-text-end">
        <ion-button color="dark" fill="clear" (click)="closeModal()">
            <ion-icon class="font14" slot="end" name="close"></ion-icon>
        </ion-button>
    </div>
    <div class="ion-padding">
		<h4 class="ion-text-center ion-no-margin blue-dark">Editar Dirección</h4>
		<br>
		<form>
			<ion-item class="">
				<ion-label class="font14" position="floating">Dirección</ion-label>
				<ion-input clearInput="true" type="text"></ion-input>
			</ion-item>
			<ion-row class="btnNuevo">
				<ion-col size="12" class="ion-text-center">
					<ion-button class="font15" color="bluedark">Guardar</ion-button>
				</ion-col>
			</ion-row>
		</form>
    </div>
</ion-content>
