
<ion-content>
    <!-- <div class="ion-text-center boxLogo">
        <img class="logoImg" src="assets/img/logo-raus.png" alt="logotipo">
        <p class="blue-dark">..The way you like</p>
      </div> -->
      <div class="ion-text-center">
        <ion-icon color="bluedark" class="iconGigant2"  name="checkmark"></ion-icon>
      </div>
      <div class="ion-text-center">
        <ion-text color="custondark">
            <p class="font30 ion-no-margin">
                Que alegría
            </p>
        </ion-text>
        <ion-text color="bluewelcome">
          <p class="font14">
            Ya tu negocio esta <br>
            listo para recibir Raus.
          </p>
      </ion-text>
      <br>
        <ion-text color="bluewelcome">
            <p class="font12 ion-margin-horizontal">
              En cualquier momento que puedas
              por favor entra a tu perfil y sube una
              copia de tu cif para completar tu
              expediente.
            </p>
        </ion-text>
        <br>
          <ion-button class="font15" color="bluedark" routerLink="">
            Ir a Raus!
          </ion-button>
      </div>
</ion-content>
