
  <div class="bgSlide">
      <div class="ion-text-center">
        <ion-icon class="iconGigant2 text-welcome" src="assets/img/icon/check.svg"></ion-icon>
      </div>
      <div class="ion-text-center">
        <ion-text color="custondark">
            <p class="font30 ion-no-margin">
                Que alegría!
            </p>
        </ion-text>
        <ion-text color="bluewelcome">
          <p class="font14">
            Ya tu negocio esta <br>
            listo para recibir Raus.
          </p>
      </ion-text>
      <br>
        <ion-text color="bluewelcome">
            <p class="font12 ion-margin-horizontal">
              En cualquier momento que puedas <br>
              por favor entra a tu perfil y sube una <br>
              copia de tu cif para completar tu <br>
              expediente.
            </p>
        </ion-text>
        <br>
          <ion-button class="font15" color="bluedark" routerLink="/home">
            Ir a Raus!
          </ion-button>
      </div>
  </div>

