<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cierre</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding-horizontal">
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-icon class="modalBack" src="assets/img/icon/back.svg" (click)="closeModal()"></ion-icon>
      </ion-col>
      <ion-col class="" size="12">
        <p class="my-0 ion-text-right">
          <ion-icon class="iconHist blue-dark2" name="alert" (click)="openDineroModal()"></ion-icon>
          <!-- <ion-icon  src="assets/img/icon/analiticas.svg"></ion-icon> -->
        </p>
        <p class="font14 ion-text-center my-0 blue-dark2 font14">Cierre</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
      <ion-col size="6" >
          Establecimiento:
      </ion-col>
      <ion-col size="6" class="ion-text-right">
          Vegetalia
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            ID establecimiento:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            40208836
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            Fecha:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            29/11/19
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            Hora:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            23:55
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            ID operación:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            08888
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            Total de operaciones:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            136
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top blue-dark2 font12">
        <ion-col size="6" >
            Total €:
        </ion-col>
        <ion-col size="6" class="ion-text-right">
            2.040,00
        </ion-col>
    </ion-row>
    <br>
    <ion-row class="ion-margin-top blue-dark2">
        <ion-col size="12" class="ion-text-center">
            <span class="mx-2"><ion-icon name="share" class="font24"></ion-icon></span>
            <span class="mx-2"><ion-icon name="share" class="font24"></ion-icon></span>
        </ion-col>
    </ion-row>
    <ion-row class="btnNuevo">
        <ion-col size="6" class="ion-text-center">
            <ion-button class="font14" color="bluedark">Continuar</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
            <ion-button class="font12" color="bluelight">Cerrar e <br> imprimir</ion-button>
        </ion-col>
     </ion-row>
     <br>
     <ion-row>
       <ion-col size="12">
          <p class="labelDate my-0 font14 ion-text-center blue-dark2 bold">Reimprimir cierre anterior</p>
          <ion-item class="ion-text-center">
              <ion-datetime style="width: 100%; text-align: center;" placeholder="del dd/mm/aaa"  class="ion-no-padding3px ion-text-center" displayFormat="D / MM / YYYY" value=""></ion-datetime>
          </ion-item>
       </ion-col>
     </ion-row>
     <ion-row class="btnNuevo">
        <ion-col size="12" class="ion-text-center">
            <ion-button class="font15" color="bluelight">Guardar</ion-button>
        </ion-col>
     </ion-row>
     <br>
  </ion-grid>
</ion-content>
