<ion-content fullscreen scroll-y="false">
    <ion-slides class="bgSlide">
      <ion-slide >
        <div>
        <img class="logoWelcome" src="assets/img/logo-raus.png" alt="logotipo">
        <p class="pWerlcome">Bienvenido y<br>
           bienvenida a <br>
           la nueva era<br>
           de la conexión<br>
           comercial.</p>
        </div>
      </ion-slide>

      <ion-slide>
          <div>
              <img class="logoWelcome" src="assets/img/logo-raus.png" alt="logotipo">
              <p class="pWerlcome">Empresas,<br>
              Trabajadores y<br>
            establecimientos<br>
          conectados por <br>
        un bienestar <br>
      común.</p>
              </div>
      </ion-slide>
    </ion-slides>
</ion-content>