<ion-content>
  <ion-row>
    <ion-col size="12">
        <ion-icon class="modalBack" src="assets/img/icon/back.svg" (click)="closeModal()"></ion-icon>
      </ion-col>
  </ion-row>
  <div class="text-promocion ion-text-center font14 blue-dark2">Máximo 1 promoción</div>
      <p class="text-promo1 ion-text-center font14 blue-dark2">Gana más visibilidad y ventas<br>  
      activando más promociones por el<br>  
      ligero precio de 0,50€ al día cada<br>  
      una. Se debitará automáticamente<br>  
      de tu saldo Raus. Recibiras la <br> 
      factura a tu inbox y a tu e-mail.</p>
      <form (ngSubmit)="createForm()">
      <ion-row class="select-section">
          <ion-col size="12">
            <div class="ion-text-center font14">Selecciona</div>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col *ngFor="let promotion of promotions" size="4" class="ion-justify-content-center ion-text-center">
              <input type="radio" (click)="radioVal(promotion._id)" class="radio1" value="{{ promotion.name }}" name="opcion"><br>
              <ion-label class="font18 blue-dark2">{{ promotion.name }} dia</ion-label>
          </ion-col>
          <!-- <ion-col size="4" class="ion-justify-content-center ion-text-center">
              <input type="radio" (click)="radioVal('1 dia')" class="radio1" value="1" name="opcion"/> <br>
              <ion-label class="font18 blue-dark2">1 día</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-justify-content-center ion-text-center">
              <input type="radio" (click)="radioVal('3 dias')" class="radio1" value="3" name="opcion"/> <br>
              <ion-label class="font18 blue-dark2">3 días</ion-label>
          </ion-col>
          <ion-col size="4" class="ion-justify-content-center ion-text-center">
              <input type="radio" (click)="radioVal('5 dias')" class="radio1" value="5" name="opcion"/> <br>
              <ion-label class="font18 blue-dark2">5 días</ion-label>
          </ion-col> -->
      </ion-row>
      <ion-row class="mt-promo">
        <ion-col size="12" class="ion-text-center">
          <ion-button class="font14 yellowpromobtn" (click)="promote()" >Promocionar</ion-button>
        </ion-col>
      </ion-row>
      </form>

</ion-content>
