.text-promocion{
    padding-top: 10px;
    line-height: 1.5;
    color:#4e5d6a;
}
.text-promo1{
    line-height: 1.5;
    color:#4e5d6a;
}
.select-section{
    margin-top: 40px;
    margin-bottom:20px;
    color:#4e5d6a
}
.mt-promo{
    margin-top: 10px;
}
.btn-promo{
    background-color: #e6a430;
}
input[type="radio"].radio1 {
	background-color: transparent;
    border: 1px solid #999;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    -webkit-appearance: none;
}
input[type="radio"].radio1:after {
	background-color: transparent;
	content: '';
	content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    position: relative;
}
input[type="radio"].radio1:checked:after {
	background-color: #4e5d6a;
}