@import "~node_modules/ngx-chips/core/styles/core/_core.scss";

$minimal: (
    container-border-bottom: 1px solid red
);

// this is the container's theme
$foundation-theme: (
    background: transparent !important,
    background-focused: transparent !important,
    background-active: transparent !important,
    background-hover: transparent !important,
);

$foundation-tag-theme: (
    background: #657b9f !important,
    background-focused: #657b9f !important,
    background-active: #657b9f !important,
    background-hover: #657b9f !important,
    color: #fff !important,
    color-hover: #fff !important,
    border-radius: 2px
);

$foundation-icon-theme: (
    fill: #fff !important,
    fill-focus: #eee !important,
    transition: all 0.35s
);

// apply theme to the container
::ng-deep tag-input.minimal {
    @include tag-input-theme($foundation-theme);
}


//  Botonsito 
::ng-deep tag-input .ng2-tag-input.minimal tag {
    @include tag-theme($foundation-tag-theme);
}


// apply theme to the delete icon =======> Icono delete
::ng-deep tag-input .ng2-tag-input.minimal tag delete-icon {
    @include icon-theme($foundation-icon-theme);
}





.logoImg {
    width: 65%;
    height: auto;
    text-align: center;
    margin-top: 15%;
}

.boxLogo p {
    font-size: 1.6em;
}

.marginButtonTop {
    margin-top: 2.5rem;
}

// .ng2-tag-input__text-input {

//     background-color: transparent !important;
//     display: inline;
//     vertical-align: middle;
//     border: none;
//     padding: 0 .5rem;
//     height: 38px;
//     font-size: 1em;
//     font-family: 'SEGUIHIS' !important;
// }

 tag-input.inputTag {
    font-family: 'SEGUIHIS' !important;
    --background: transparent !important;
    background-color: transparent !important; 

}
.ng2-tag-input__text-input{
    background: transparent !important;
}
.ng2-tag-input__text-input.ng-pristine.ng-valid.ng-touched{
    --background: transparent !important;
}
.itemTransparent  {
    --background: transparent !important;
}


:ng-deep .ng2-tag-input__text-input.minimal {
    background-color: transparent !important;
}


ion-content.bgSlide{
    --background: url('/assets/img/fondoslid.jpg') no-repeat center center / cover;
}

.paddingBody {
    // padding-bottom: 420px !important;
    // position: relative;
}

// IPAD

@media (min-width: 768px) and (max-width: 1024px) {
  
    .logoImg {
        width: 55%;
        height: auto;
        text-align: center;
        margin-top: 10%;
    }

    .boxLogo p {
        font-size: 2.8em;
    }
    
  }

@media (min-width: 481px) and (max-width: 767px) {
  
    .logoImg {
        width: 45%;
        height: auto;
        text-align: center;
        margin-top: 5%;
    }

    .boxLogo p {
        font-size: 1.3em;
    }

    
  }

@media (min-width: 481px) and (max-width: 767px) and (min-height: 700px) and (max-height: 991px) {
  
    .logoImg {
        width: 55%;
        height: auto;
        text-align: center;
        margin-top: 10%;
    }

    .boxLogo p {
        font-size: 1.5em;
    }
    
  }

@media only screen and (min-width: 320px) and (max-width: 480px) and (max-height: 700px) {
    .logoImg {
        width: 55%;
        height: auto;
        text-align: center;
        margin-top: 10%;
    }

    .boxLogo p {
        font-size: 1.5em;
    }
    
}


@media only screen and (min-width: 320px) and (max-width: 400px) and (max-height: 600px) {
    .logoImg {
        width: 45%;
        height: auto;
        text-align: center;
        margin-top: 5%;
    }

    .boxLogo p {
        font-size: 1.3em;
    }
    
}