
.minHeightAdd{
	height: 100%;
	overflow-Y: auto;
}

.mtInputFecha {
	margin-top: 20px;
	--padding-bottom:-5px;
	--padding-start: 0px;
}
.select-space{
	max-width: 100% !important;
}

.alwaysBottom{
	position: absolute;
	bottom: 10px;
}