<!-- <ion-header>
  <ion-toolbar>
    <ion-title>agregartarjeta</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <br>
    <form class="ion-padding-horizontal" [formGroup]="cardForm">
      <ion-row>
        <ion-col size="12">
            <ion-item class="ion-no-padding">
              <ion-label class="font14" position="floating">Tarjeta número</ion-label>
              <ion-input clearInput="true" type="tel" pattern="[\d]*" required formControlName="numero" [(ngModel)]="numero" ></ion-input>
            </ion-item>    
        </ion-col>
      </ion-row>
          <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.numero">
            <div class="error-message" *ngIf="cardForm.get('numero').hasError(validation.type) && (cardForm.get('numero').dirty || cardForm.get('numero').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      <ion-row>
          <ion-col size="4" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                  <!-- <ion-label class="font14" position="floating">Fecha exp.</ion-label> -->
                  <ion-datetime class="mtInputFecha" placeholder="Mes" clearInput="true" displayFormat="MM" formControlName="month" [(ngModel)]="month" ancelText="Cancelar" doneText="Guardar"></ion-datetime>
              </ion-item> 
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                  <!-- <ion-label class="font14" position="floating">&nbsp;</ion-label> -->
                  <ion-datetime class="mtInputFecha" clearInput="true" placeholder="Año" displayFormat="YYYY" min="1970" max="3000" formControlName="year" [(ngModel)]="year" cancelText="Cancelar" doneText="Guardar"></ion-datetime>
              </ion-item> 
          </ion-col>
          <ion-col size="4" class="ion-no-padding">
              <ion-item class="ion-no-padding">
                  <ion-label class="font14" position="floating">CVC</ion-label>
                  <ion-input  clearInput="true" type="number" formControlName="cvc" [(ngModel)]="cvc"></ion-input>
              </ion-item> 
          </ion-col>
      </ion-row>
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.cvc">
            <div class="error-message" *ngIf="cardForm.get('cvc').hasError(validation.type) && (cardForm.get('cvc').dirty || cardForm.get('cvc').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.fechaExp">
              <div class="error-message" *ngIf="cardForm.get('fechaExp').hasError(validation.type) && (cardForm.get('fechaExp').dirty || cardForm.get('fechaExp').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>
      <ion-row>
          <ion-col size="12">
            <ion-item class="ion-no-padding">
              <ion-label class="font14" position="floating">Nombre en tarjeta</ion-label>
              <ion-input clearInput="true" type="text" formControlName="nombre" [(ngModel)]="nombre"></ion-input>
            </ion-item>
          </ion-col>
      </ion-row>
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.nombre">
            <div class="error-message" *ngIf="cardForm.get('nombre').hasError(validation.type) && (cardForm.get('nombre').dirty || cardForm.get('nombre').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <br>
        <ion-row class="btnNuevo">
            <ion-col size="6" class="ion-text-center">
                <ion-button class="font15" color="bluedark" [disabled]="!cardForm.valid" (click)="openAgregarSaldo()">Guardar</ion-button>
            </ion-col>
            <ion-col size="6" class="ion-text-center">
                <ion-button class="font15" color="bluelight" (click)="closeModal()">Volver</ion-button>
            </ion-col>
         </ion-row>
         <label>{{errorMessage}}</label>
    </form>
    <ion-item>
        <ion-label>Notifications</ion-label>
        <ion-select value="notifications" interface="action-sheet">
          <ion-select-option value="enable">Enable</ion-select-option>
          <ion-select-option value="mute">Mute</ion-select-option>
          <ion-select-option value="mute_week">Mute for a week</ion-select-option>
          <ion-select-option value="mute_year">Mute for a year</ion-select-option>
        </ion-select>
      </ion-item>
    <select name="mes" form="mes">
      <option value="Enero">Enero</option>
      <option value="Febrero">Febrero</option>
      <option value="Marzo">Marzo</option>
      <option value="Abril">Abril</option>
      <option value="Mayo">Mayo</option>
      <option value="Junio">Junio</option>
      <option value="Julio">Julio</option>
      <option value="Agosto">Agosto</option>
      <option value="Septiembre">Septiembre</option>
      <option value="Octubre">Octubre</option>
      <option value="Noviembre">Noviembre</option>
      <option value="Diciembre">Diciembre</option>
    </select>
</ion-content>
