<ion-content class="bodyShowCase">
	<ion-icon class="backHeader ion-text-center" src="assets/img/icon/back.svg" routerLink="/opciones"></ion-icon>
	<ion-row>
		<ion-col class="ion-text-center" size="12">
			<p class="my-0">
				<ion-icon class="iconHeader" src="assets/img/icon/menu/showcaseazul.svg"></ion-icon>
			</p>
			<p class="titleHeader mg-top blue-dark2 my-0">Showcase</p>
		</ion-col>
	</ion-row>
	<ion-row class="margin-rt">
		<ion-col class="col-12 ion-text-center">
			<ion-input class="font14" name="title" [(ngModel)]="title" placeholder="Escribe aquí el titulo"></ion-input>
		</ion-col>
	</ion-row>
	<ion-row class="my-0">
		<ion-col class="ion-no-padding">
			<div class="boxBanner">
				<ion-slides>
					<ion-slide class="changeStyle" *ngFor="let img of slider; let i = index">
						<img class="imgBanner" src="{{ img }}"/>
						<div class="divEdit" color="bluelight">
							<ion-icon class="iconEditBanner" color="white" src="assets/img/icon/papelera.svg" name="delete" (click)="deleteSlider(i)"></ion-icon>
						</div>
					</ion-slide>
					<ion-slide class="changeStyle">
						<div class="divWhite borderGris"></div>
						<div class="addPhotoProducto" color="">
							<ion-icon class="addPrdocuto" color="bluedark" src="assets/img/icon/producto/addAzulProducto.svg" (click)="selectImage('slider')"></ion-icon>
						</div>
						<div class="textP">
							<p class="ion-text-center my-0 font14">Agregar imagenes al carrusel</p>
						</div>
					</ion-slide>
				</ion-slides>          
			</div>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col class="col-12 ion-text-center">
			<ion-input  class="font14" name="subtitle" [(ngModel)]="subtitle" placeholder="Subtitulo"></ion-input>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col size="12" *ngFor="let row of rows; let j = index">
			<div class="d-flex">
				<ion-textarea class="font11 ion-no-padding textareaCustom" [(ngModel)]="rows[j].ingredients" rows="5" cols="20" placeholder="Texto {{ j + 1}} No te dejes engañar por su tamaño, son muy sabrosos y versátiles. Añádelos a tus ensaladas o como complemento"></ion-textarea>
				<div class="boxShowcase1 mt">
					<div class="position" *ngIf="!row.img">
						<div  (click)="selectImage(j)" class="dflex">
							<div class="" color="">
								<ion-icon class="" color="bluedark" src="assets/img/icon/producto/addAzulProducto.svg"></ion-icon>
							</div>
							<div class="">
								<p class="ion-text-center my-0 textFont">Agrega una imagen</p>
							</div>
						</div>
					</div>
					<div class="boxImagen" *ngIf="row.img">
						<img class="" src="{{ row.img }}">
					</div>
					<!-- <div class="boxImagen" *ngIf="row.img">
						<ion-icon class="" color="bluedark" src="{{ row.img }}"></ion-icon>
					</div> -->
					<!-- <div class="boxImagen">
						<img class="" color="bluedark" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png">
					</div> -->
				</div>
			</div>
		</ion-col>
		<ion-col size="12">
			<ion-button class="buttonAddPay" (click)="addNewRow()">
				<ion-icon class="addPrdocuto1" color="bluedark" src="assets/img/icon/producto/addAzulProducto.svg"></ion-icon>
			</ion-button>
			<ion-button class="font12 button-programacion" color="programacion" (click)="goToProgramation()">Programación</ion-button>
		</ion-col>
		<!-- <ion-col size="12">
			<ion-item class="itemEdit" lines="none">
				<ion-input type="number"></ion-input>
				<ion-icon name="logo-euro" slot="end"></ion-icon>
			</ion-item>
		</ion-col> -->
	</ion-row>
	<!-- <ion-row>
		<ion-col class="col-12 ion-text-center">
			<ion-button class="font12 button-enviar" color="enviar" (click)="send()">Enviar</ion-button>
		</ion-col>
	</ion-row> -->
</ion-content>
