<ion-content>
  <ion-icon class="backHeader ion-text-center" src="assets/img/icon/back.svg" routerLink="/opciones"></ion-icon>
  <ion-row>
    <ion-col class="ion-text-center" size="12">
      <p class="my-0">
        <ion-icon class="iconHeader2" src="assets/img/icon/menu/fidelizacion.svg"></ion-icon>
      </p>
      <p class="titleHeader upTitle blue-dark2 my-0">Fidelización</p>
    </ion-col>
  </ion-row>
  <ion-button class="blue-dark2 font12" fill="clear" (click)="createplan()"><ion-icon name="add"></ion-icon>Crear plan de fidelización
  </ion-button>
  <!-- Planes creados -->
  <ion-card class="card-expandable" *ngFor="let item of items">
    <ion-card-header class="margin-header" (click)="toggleZipped()">
      <ion-card-title class="blue-dark2 font12"  (click)="expandItem(item)">Planes creados <ion-icon class="arrow-icon" color="bluedark" [name]="zipped ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-expandable" *ngFor="let d of data">
      <app-expandable expandHeight="120px" [expanded]="item.expanded" >
        <ion-item >
          <ion-label class="font12 font-color label-mg" (click)="EditRecord(d.payload.doc.data(),d.payload.doc.id )">
            {{d.payload.doc.data().name}}
          </ion-label>
          <ion-icon class="font25" src="assets/img/icon/lapiz.svg" slot="end" (click)="EditRecord(d.payload.doc.data(),d.payload.doc.id)"></ion-icon>
          <ion-icon class="font25" src="assets/img/icon/papelera.svg" slot="end" (click)="RemoveRecord(d.payload.doc.id)"></ion-icon>
        </ion-item>
      </app-expandable>
    </ion-card-content>
  </ion-card>
</ion-content>
