<app-navbar></app-navbar>
<ion-content class="contentClient">
	<!-- <div class="ion-text-center">
		<ion-button class="font12 button-search" fill="clear" (click)="openSearch()">
			Buscar
			<ion-icon class="font20 search-icon" slot="end" name="search"></ion-icon>
		</ion-button>
	</div> -->
	<div class="barMenu">
		<div class="box a">
			<ion-icon class="colorBlack" name="menu" routerLink="/opciones"></ion-icon>
			<ion-avatar class="avatar">
				<img class="imgAvatar" src="{{ avatar }}" alt="avatar perfil">
			</ion-avatar>
		</div>
		<div class="box c">
			<h5>{{ business_name }}</h5>
		</div>
		<div class="box b ">
			<div style="position: relative;">
				<p class="font16 my-0 title">Balance</p>
				<p class="my-0 text-dorado alinearBalance">
					<!-- <span class="price2" >83</span>
					<span class="decimal2">,00€</span> -->
					<span class="price2" >{{ decimal[0] }}</span>
                	<span class="decimal2">,{{ decimal[1]? decimal[1] : 00 }}€</span>
				</p> 
			</div>
		</div>
	</div>
		<!-- 	<ion-grid class="px-0 marginTopGrid">
		<ion-row>
			<ion-col size="7" class="hgLine  px-0">
				<ion-icon class="iconBack" src="assets/img/icon/back.svg" routerLink="/home"></ion-icon>
				<div style="position: relative;">
					<p class="font16 my-0 ml-10 blue-dark">Balance</p>
					<p class="my-0 text-dorado alinearBalance">
						<span [class]="fontSize" >1920</span>
						<span class="font18 decimal">,00€</span>
					</p> 
				</div>
			</ion-col>
			<ion-col size="5">
				
				<p class="text-dorado ion-text-center">
					Test
				</p>
			</ion-col>
		</ion-row>
	</ion-grid> -->
	<ion-text color="bluelight" class="font16">
		<p class="ion-text-center titlePromociones">Promociones</p>
	</ion-text>
	<div class="sliderContent">
		<ion-slides [options]="slideOpts">
			<ion-slide class="changeStyle" *ngFor="let promotion of promotions">
				<ion-card class="customCard">
					<div class="boxBanner">
						<ion-slides>
							<ion-slide class="changeStyle" *ngFor="let img of promotion.images">
								<img class="imgCarta3" src="{{ img.img }}" alt="avatar perfil"> 
							</ion-slide>
						</ion-slides>
					</div>  
					<ion-card-content class="p-10">
						<ion-row>
							<ion-col class="ion-no-padding ion-align-self-center " size="7">
								<p class="hgPCarta truncate my-0 customDarkText font12">
									{{ promotion.name }}
								</p> 
							</ion-col>
							<ion-col class="ion-no-padding" size="5">
								<div style="position: relative;">
									<!-- <p class="my-0 hgPCarta ion-text-center font10 customDarkText">
										{{ promotion.price_with_iva }}
									</p> -->
									<p class="newPrice">
										<span class="a">9</span>
										<span class="b">,50€</span>
									</p>
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="ion-no-padding ion-align-self-center ">
								<p class="hgPCarta truncate my-0 customDarkText font12 description-text">
									{{ promotion.description }}
								</p> 
							</ion-col>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-slide>
		</ion-slides>
	</div>
	<!-- <ion-grid class="px-0">
		<ion-row>
			<ion-col *ngFor="let promotion of promotions" class="px-0" size="6">
				<ion-card class="customCard">
					<div class="boxBanner">
						<ion-slides>
							<ion-slide class="changeStyle" *ngFor="let img of promotion.images">
								<img class="imgCarta3" src="{{ img.img }}" alt="avatar perfil"> 
							</ion-slide>
						</ion-slides>
					</div>  
					<ion-card-content>
						<ion-row>
							<ion-col class="ion-no-padding ion-align-self-center " size="7">
								<p class="hgPCarta truncate my-0 customDarkText font12">
									{{ promotion.name }}
								</p> 
							</ion-col>
							<ion-col class="ion-no-padding" size="5">
								<div style="position: relative;">
									<p class="my-0 hgPCarta ion-text-center font10 customDarkText">
										{{ promotion.price_with_iva }}
									</p>
								</div>
							</ion-col>
						</ion-row>
						<ion-row>
							<ion-col class="ion-no-padding ion-align-self-center ">
								<p class="hgPCarta truncate my-0 customDarkText font12">
									{{ promotion.description }}
								</p> 
							</ion-col>
						</ion-row>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid> -->
	<div class="ion-text-center">
		<ion-icon class="font24 space" color="bluelight" name="pin"></ion-icon>
	</div>

	<ion-grid class="px-0">
		<ion-card class="customCard cardRestaurant" *ngFor="let restaurant of restaurants">
			<ion-row>
				<ion-col class="px-0 py-0">
					<img class="imgCarta2" src="{{ restaurant.slider }}" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="flexRef">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10 cardRestaurant__title">
								{{ restaurant.name }}
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center cardRestaurant__go" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row class="mt-auto">
						<ion-col class="px-0 ion-text-center" >
							<ion-icon name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<!-- <ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest1.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest2.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center ion-text-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest3.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card> -->

	</ion-grid>

	<!-- <ion-grid class="px-0">
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest1.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest2.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center ion-text-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest3.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>

	</ion-grid>

	<ion-grid class="px-0">
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest1.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest2.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center ion-text-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest3.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>

	</ion-grid>

	<ion-grid class="px-0">
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest1.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest2.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center ion-text-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card class="customCard">
			<ion-row>
				<ion-col class="px-0">
					<img class="imgCarta2" src="assets/img/rest3.jpg" alt="avatar perfil"> 
				</ion-col>
				<ion-col class="px-0">
					<ion-row class="pt-2">
						<ion-col size="7">
							<p class="my-0 ion-text-center font10">
								Vegetalia Restaurant
							</p>
						</ion-col>
						<ion-col class="ion-align-self-center ion-justify-content-center" size="5">
							Ir <ion-icon class="arrow" name="play"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-row>
						<ion-col class="px-0 ion-text-center" >
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Sabor</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Atención</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Lugar</p>
						</ion-col>
						<ion-col class="px-0 ion-text-center">
							<ion-icon color="bluelight" name="star"></ion-icon>
							<p class="my-0 font10">4/5</p>
							<p class="my-0 font8">Tiempo</p>
						</ion-col>
					</ion-row>
				</ion-col>
			</ion-row>
		</ion-card>

	</ion-grid> -->

</ion-content>
