<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dineromodal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <p class="my-0 ion-text-center">
          <ion-icon class="font14 blue-dark2 ion-margin-top" name="alert"></ion-icon>
      </p>
      <p class="ion-text-center font14">
          El dinero será acreditado en <br>
          tu cuenta bancaria en las <br>
          próximas 24 horas. <br>
          Muchas gracias por usar Raus!
      </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
