<ion-content class="ion-margin-vertical">
  <div class=" ion-text-center boxTop">
    <span class=" font10">Por favor introduce el código que te
      hemos enviado via sms y e-mail.
    </span>
  </div>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col>
        <ion-input class="borderCodigo font15" placeholder="Cód"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="borderCodigo font15" placeholder="go de"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="borderCodigo font15" placeholder="segu"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input class="borderCodigo font15" placeholder="dad"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-text-center">
    <ion-button type="submit"  class="font15" color="bluedark" routerLink="/home" (click)="closeModal()">
      Ir a Raus!
    </ion-button>
  </div>
</ion-content>
