<app-navbar></app-navbar>
<ion-content>
  <ion-grid class="px-0">
      <ion-row class="my-0 py-0">
          <ion-col class="py-0 ion-align-self-center ion-text-center" size="2">
                  <ion-icon color="bluedark" class="font16" name="menu" routerLink="/opciones"></ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
              <p class="my-0 font14 ">
                  {{profile.business_name}}
              </p>
          </ion-col>
        </ion-row>
        <ion-row class="my-0">
            <ion-col class="ion-no-padding">
              <div class="boxBanner">
                  <ion-slides [options]="slideOptsOne">

                    <ion-slide class="changeStyle" *ngFor="let img of slider">
                      <img class="imgBanner" src="{{img.payload.doc.data().image}}"/>
                      <div class="divEdit" color="bluelight">
                        <ion-icon class="iconEditBanner" color="white" name="create" (click)="editslider(img.payload.doc.data().image)"></ion-icon>
                      </div>
                    </ion-slide>
            
                      <ion-slide class="changeStyle">
                        <div class="divWhite">
                        </div>
                              <div class="addPhoto" color="">
                                  <ion-icon class="addIcon" color="bluedark" name="add-circle-outline" (click)="addslider()"></ion-icon>
                              </div>
                      </ion-slide>
                      
                    </ion-slides>
                  <ion-avatar class="avatar" routerLink="/perfil">
                      <img class="imgAvatar" src="{{avatar}}" alt="avatar perfil">
                  </ion-avatar>    
                
              </div>
            </ion-col>
        </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
                <img class="imgMap" src="assets/img/map.png" alt="map">
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
              <ion-col size="12">
                  <p class="ion-text-center ion-no-margin font11 pDirection">
                    {{profile.direction}} 
                      <ion-icon class="font16" color="bluedark" name="create" routerLink="/perfil"></ion-icon>
                  </p>
              </ion-col>
              <ion-col size="12">
                  <p class="ion-text-center ion-no-margin">
                      <ion-icon class="font24" color="bluedark" name="time"></ion-icon>
                  </p>
                  <p class="ion-text-center ion-no-margin font12 blue-dark2">
                      Presiona para modificar los horarios
                  </p>
              </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding font8">
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Lunes', lunes)">
              Lun <br>
              <div *ngIf="lunes == false">Cerrado</div>
              <div *ngFor="let ln of lunes">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div *ngIf="ln.status == true">
                <div *ngFor="let s of ln.schedules">
                  <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
              </div>
              </div>
              </div>
              
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Martes', martes)">
              Mar <br>
              <div *ngIf="martes == false">Cerrado</div>
              <div *ngFor="let ln of martes">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                </div>
                </div>
                </div>
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Miercoles', miercoles)">
              Míe <br>
              <div *ngIf="miercoles == false">Cerrado</div>
              <div *ngFor="let ln of miercoles">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                  </div>
                </div>
                </div>
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Jueves', jueves)">
              Jue <br>
              <div *ngIf="jueves == false">Cerrado</div>
              <div *ngFor="let ln of jueves">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                </div>
                </div>
                </div>
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Viernes', viernes)">
              Vie <br>
              <div *ngIf="viernes == false">Cerrado</div>
              <div *ngFor="let ln of viernes">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                </div>
                </div>
              </div>
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Sabado', sabado)">
              Sáb<br>
              <div *ngIf="sabado == false"> Cerrado </div>
              <div *ngFor="let ln of sabado">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                </div>
                </div>
                </div>
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios('Domingo', domingo)">
              Dom <br>
              <div *ngIf="domingo == false">Cerrado</div>
              <div *ngFor="let ln of domingo">
                  <div *ngIf="ln?.schedules?.length == 0 || ln?.status == false">Cerrado</div>
                  <div  *ngIf="ln.status == true">
                  <div *ngFor="let s of ln.schedules">
                    <div>{{s.start| date: 'H:mm'}} a {{s.end| date: 'H:mm'}}</div>
                </div>
                </div>
                </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col class="font12 ion-text-center blue-dark2"  (click)="addProduct()">
              <ion-button fill="clear" color="bluedark" class="blue-dark">
                <ion-icon color="bluedark" class="font25" slot="start" name="add-circle-outline"></ion-icon>
                Agregar productos
              </ion-button>
              <!-- <ion-icon class="font20" color="bluedark" name="add-circle-outline"></ion-icon> 
              <p class="my-0">Agregar productos</p> -->
            </ion-col>
          </ion-row>
  </ion-grid>
  <!-- <ion-text color="bluelight" class="font16">
      <p class="ion-text-center">Tus promociones</p>
  </ion-text> -->
  <ion-grid class="px-0">
    <ion-row >
      <ion-col class="px-0" size="6" *ngFor="let product of productos; let i = index">
          <ion-card class="customCard">
              <div class="boxBanner">
                <!-- <img class="imgCarta" src="assets/img/pasta2.jpg" alt="avatar perfil"> -->
                <ion-slides *ngIf="product.images.length > 0">
                  <ion-slide class="changeStyle"  *ngFor="let img of product.images; let imgIndex = index">
                    <img class="imgCarta3" src="{{img.iamge}}"/>
                  </ion-slide>
                </ion-slides>
                <ion-slides *ngIf="product.images.length == 0">
                  <ion-slide class="changeStyle">
                    <img class="imgCarta3" src="assets/img/pasta1.jpg"/>
                  </ion-slide>
                </ion-slides>
                <div class="divEditCard" color="bluelight" (click)="editProduct(product)">
                    <ion-icon class="iconEditCard" color="white" name="create"></ion-icon>
                </div>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding ion-align-self-center " size="7">
                   <p class="hgPCarta my-0 customDarkText font12">
                     {{product.name}}
                   </p> 
                  </ion-col>
                  <ion-col class="ion-no-padding" size="5">
                    <p class="my-0 hgPCarta  customDarkText">
                      <span class="font12">{{product.price_with_iva| currency:'EUR':true:'1.2-2'}}</span>
                      <!-- <span class="font12 decimalCarta">,50€</span> -->
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding ion-align-self-center" size="8">
                     <p class="hgPCarta my-0 customDarkText font9" *ngFor="let i of product.ingredients">
                        {{ i.name }},
                     </p> 
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="share"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2" (click)="addpromocion(product._id)">
                        <ion-icon color="bluedark" name="megaphone"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
          </ion-card>
      </ion-col>
     
    </ion-row>
  </ion-grid>
<!-- 
  <div class="ion-text-center">
    <ion-button class="font14 blue-dark" fill="clear" routerLink="/historial">historial</ion-button>
  </div>

  <div class="ion-text-center">
      <ion-button class="font14 blue-dark" fill="clear" (click)="openAgregarSaldo()">agregar</ion-button>
  </div>
  <div class="ion-text-center">
      <ion-button class="font14 blue-dark" fill="clear" routerLink="/analiticas">analitica
      </ion-button>
  </div>
  <div class="ion-text-center">
    <ion-button class="font14 blue-dark" fill="clear" (click)="openCierreModal()">cierre
    </ion-button>
  </div> -->
</ion-content>
