<app-navbar></app-navbar>
<ion-content>
  <ion-grid class="px-0">
      <ion-row class="my-0 py-0">
          <ion-col class="py-0 ion-align-self-center ion-text-center" size="2">
                  <ion-icon color="bluedark" class="font16" name="menu"></ion-icon>
          </ion-col>
          <ion-col size="8" class="ion-text-center">
              <p class="my-0 font14 ">
                  Vegetalia Restaurant
              </p>
          </ion-col>
        </ion-row>
        <ion-row class="my-0">
            <ion-col class="ion-no-padding">
              <div class="boxBanner">
                <img class="imgBanner" src="assets/img/rest1.jpg" alt="img banner">
                <ion-avatar class="avatar">
                    <img class="imgAvatar" src="assets/img/rest1.jpg" alt="avatar perfil">
                </ion-avatar>
                <div class="divEdit" color="bluelight">
                    <ion-icon class="iconEditBanner" color="white" name="create"></ion-icon>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
            <ion-col class="ion-no-padding">
                <img class="imgMap" src="assets/img/map.png" alt="map">
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding">
              <ion-col size="12">
                  <p class="ion-text-center ion-no-margin font11 pDirection">
                      Carrer de Aribau 655. 08021. Barcelona  
                      <ion-icon color="bluedark" name="create"></ion-icon>
                  </p>
              </ion-col>
              <ion-col size="12">
                  <p class="ion-text-center ion-no-margin">
                      <ion-icon class="font20" color="bluedark" name="time"></ion-icon>
                  </p>
                  <p class="ion-text-center ion-no-margin font12 blue-dark2">
                      Presiona para modificar los horarios
                  </p>
              </ion-col>
          </ion-row>
          <ion-row class="ion-no-padding font8">
            <ion-col class="ion-text-center bgHorarios mHorarios" (click)="openHorarios()">
              Lun <br>
              11 a 16
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Mar <br>
              11 a 16 <br>
              20 a 00
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Míe <br>
              11 a 16 <br>
              20 a 00
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Jue <br>
              11 a 16 <br>
              20 a 00
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Vie <br>
              11 a 16 <br>
              20 a 00
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Sáb <br>
              11 a 16
            </ion-col>
            <ion-col class="ion-text-center bgHorarios mHorarios">
              Dom <br>
              11 a 16
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="font12 ion-text-center blue-dark2">
                <ion-icon color="bluedark" name="add-circle-outline"></ion-icon> Agregar productos
            </ion-col>
          </ion-row>
  </ion-grid>
  <!-- <ion-text color="bluelight" class="font16">
      <p class="ion-text-center">Tus promociones</p>
  </ion-text> -->
  <ion-grid class="px-0">
    <ion-row>
      <ion-col class="px-0" size="6">
          <ion-card class="customCard">
              <div class="boxBanner">
                <img class="imgCarta" src="assets/img/pasta2.jpg" alt="avatar perfil">
                <div class="divEditCard" color="bluelight">
                    <ion-icon class="iconEditCard" color="white" name="create"></ion-icon>
                </div>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding ion-align-self-center " size="6">
                   <p class="hgPCarta my-0 customDarkText font14">
                      Ikibana S...
                   </p> 
                  </ion-col>
                  <ion-col class="ion-no-padding" size="6">
                    <p class="my-0 hgPCarta  customDarkText">
                      <span class="font27">10</span>
                      <span class="font12 decimalCarta">,50€</span>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding ion-align-self-center" size="8">
                     <p class="hgPCarta my-0 customDarkText font10">
                        Arroz con setas y...
                     </p> 
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="share"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="megaphone"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="px-0" size="6">
          <ion-card class="customCard">
              <div class="boxBanner">
                <img class="imgCarta" src="assets/img/pasta1.jpg" alt="avatar perfil">
                <div class="divEditCard" color="bluelight">
                    <ion-icon class="iconEditCard" color="white" name="create"></ion-icon>
                </div>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding ion-align-self-center " size="6">
                   <p class="hgPCarta my-0 customDarkText font14">
                      Rao Rest...
                   </p> 
                  </ion-col>
                  <ion-col class="ion-no-padding" size="6">
                    <p class="my-0 hgPCarta  customDarkText">
                      <span class="font27">10</span>
                      <span class="font12 decimalCarta">,50€</span>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding ion-align-self-center" size="8">
                     <p class="hgPCarta my-0 customDarkText font10">
                        Menú Pasta con...
                     </p> 
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="share"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="megaphone"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="px-0" size="6">
          <ion-card class="customCard">
              <div class="boxBanner">
                <img class="imgCarta" src="assets/img/pasta1.jpg" alt="avatar perfil">
                <div class="divEditCard" color="bluelight">
                    <ion-icon class="iconEditCard" color="white" name="create"></ion-icon>
                </div>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding ion-align-self-center " size="6">
                   <p class="hgPCarta my-0 customDarkText font14">
                      Rao Rest...
                   </p> 
                  </ion-col>
                  <ion-col class="ion-no-padding" size="6">
                    <p class="my-0 hgPCarta  customDarkText">
                      <span class="font27">10</span>
                      <span class="font12 decimalCarta">,50€</span>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding ion-align-self-center" size="8">
                     <p class="hgPCarta my-0 customDarkText font10">
                        Menú Pasta con...
                     </p> 
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="share"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="megaphone"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col class="px-0" size="6">
          <ion-card class="customCard">
              <div class="boxBanner">
                <img class="imgCarta" src="assets/img/pasta1.jpg" alt="avatar perfil">
                <div class="divEditCard" color="bluelight">
                    <ion-icon class="iconEditCard" color="white" name="create"></ion-icon>
                </div>
              </div>
              <ion-card-content>
                <ion-row>
                  <ion-col class="ion-no-padding ion-align-self-center " size="6">
                   <p class="hgPCarta my-0 customDarkText font14">
                      Rao Rest...
                   </p> 
                  </ion-col>
                  <ion-col class="ion-no-padding" size="6">
                    <p class="my-0 hgPCarta  customDarkText">
                      <span class="font27">10</span>
                      <span class="font12 decimalCarta">,50€</span>
                    </p>
                  </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col class="ion-no-padding ion-align-self-center" size="8">
                     <p class="hgPCarta my-0 customDarkText font10">
                        Menú Pasta con...
                     </p> 
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="share"></ion-icon>
                    </ion-col>
                    <ion-col class="ion-no-padding ion-align-self-center ion-text-right" size="2">
                        <ion-icon color="bluedark" name="megaphone"></ion-icon>
                    </ion-col>
                  </ion-row>
              </ion-card-content>
            </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
