.line-title{
    line-height: 0;
}
.onoffswitch-label {
    display: block; 
    overflow: hidden;
    cursor: pointer;
    height: 15px; 
    padding: 0; 
    line-height: 15px;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    padding:0;
    border-radius: 5px;
    margin: 0px;
    background: #4e5d6a;
    position: absolute;
    top: 1.7px;
    bottom: 0;
    right: 32px;
    /* border: 2px solid #000; */
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch {
    position: relative; 
    width: 45px;
    margin-left: 4px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border: 1px solid #4e5d6a;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 4px;
}
.iconMargin {
    margin:2px;
}
.InFoIcon{
    width: 1.5rem;
    position: absolute;
}
.inline{
    display: inline-flex;
}
.ml-2{
    margin-left: 0.5rem;
}
.inputCustom2 {
    border:1px solid #999;
    width: 35px;
    height: 25px;
}