//color: #958659


.bodyProgramation{
    .margin-top{
        margin-top: 15px;
    }
    .body{
        .title{
            text-align: center;
            color: #4e5d6a;
        }
        .subtitle{
            text-align: center;
            color: #958659;
            font-weight: bold !important;
        }

        .addTime{
            ion-label{
                color: #4e5d6a !important;
            }
            .btnAdd{
                background-color: transparent;
                font-size: 46px;
            }
        }

        .boxSlide{
            .sliderContent{
                overflow: visible;
                ion-slide{
                    .item{
                        background-color: #f9f9f9;
                        padding: 15px 10px;
                        margin: auto 5px;
                        p{
                            margin: 0;
                            color: #666;
                            font-size: 12px;
                            &:nth-child(1){
                                color: #4e5d6a;
                                font-weight: bold;
                                font-size: 14px;
                            }
                            &:nth-child(2){
                                color: #666;
                                font-weight: bold;
                            }
                            &:nth-child(3){
                                color: #666;
                                font-weight: bold;
                            }
                        }
                    }
                }
               
                .swiper-pagination{
                    bottom: -20px;
                }
            }

            .msgOpc{
                text-align: center;
                font-size: 20px;
                margin-top: 30px;
                color: #4e5d6a;
            }
            .msgOpc2{
                text-align: center;
                font-size: 16px;
                margin-top: 30px;
                color: #faa61a;
            }
           
        }
        .body2{
            ion-item{
                padding:0;
                --padding-start: 0;
                margin-bottom: 20px;
            }
        }
    }
    .newPrice{
        margin-top: 20px;
        color: #958659;
        display: flex;
        justify-content: center;
        p{
            color: #958659;
            font-size: 22px;
            margin-right: 10px;
        }
        .a{
            font-size: 40px;
             line-height: .85;
        }
        .b{
            font-size: 20px;
            margin-left: 3px;
        }
    }

    .table{
        padding: 20px;
        table{
            text-align: center;
            width: 100%;
            margin-left: auto;
            tr{
                td{
                    color :#435463;
                    font-size: 20px;
                    border: .5px solid #ececec;
                    padding: 10px 0;
                    &:first-child{
                        background: #f9f9f9;
                        padding: 4px 10px;
                    }
                    &:last-child{
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .bodybutton{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 30px;
        ion-button{
            margin: auto;
            color: #fff;
            --padding-start: 20px !important;
            --padding-end: 20px !important;
            --padding-top: 10px !important;
            --padding-bottom: 10px !important;
            &:nth-child(1){
                --background: #435463;
            }
            &:nth-child(2){
                --background: #657b9f;
            }
        }
    }
}