ion-content{
    --ion-background-color: #a0a9c0;
    --color:#fff;
}

.saldoModal {
    font-size: 50pt;
    color: #fff;
}


.iconWhite {
    color: #fff !important;
}

.noBorderItem {
    --border-color: transparent;
}

.itemSaldo {
    --border-color: #fff;
    --color-focused: #fff;
}

ion-item.itemSaldo {
    --highlight-color-focused:#fff;
    --detail-icon-opacity: 1 !important;
}

.focusLabel:target {
    background-color: #222;
}

.euro {
    position: absolute;
    right: 10px;
    font-size: 30pt;
    color:#fff;
}