<!-- <ion-header>
  <ion-toolbar>
    <ion-title>agregar</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="bgAzul">
    <ion-row class="my-0">
      <ion-col class="ion-text-end" size="12">
        <!-- <ion-icon class="modalAgregar" src="assets/img/icon/back.svg" (click)="closeModal()"></ion-icon> -->
        <ion-button color="white" fill="clear" (click)="closeModal()">
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <div class="">
        <ion-item class="itemSaldo ">
            <!-- <ion-label class="font14" position="floating">Dirección</ion-label> -->
            <!-- <ion-icon class="mx-0 iconWhite font24" name="logo-euro" color="" slot="start" align-self-center></ion-icon> -->
            <ion-input class="saldoModal ion-text-center" [(ngModel)]="value" name="value" (keypress)="decimal($event)"  [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal: '2'}" type="text" placeholder="0,00" required></ion-input>
            <span class="euro">€</span>
        </ion-item>
        <label >{{errorMessage}} </label>
    </div>
  <p class="ion-text-center my-0">
      Seleccionar tarjeta o cuenta
  </p>
  <ion-list class="ion-padding font14 " *ngFor="let d of data">
    <ion-row >
          <ion-col class="ion-text-start" (click)="openConfirmarAgregar(d.payload.doc.id)">
              <ion-label class="iconWhite">Visa</ion-label>
          </ion-col>
          <ion-col class="ion-text-end" (click)="openConfirmarAgregar(d.payload.doc.id)">
              <ion-label class="iconWhite">*******{{d.payload.doc.data().numero.substr(-4)}} </ion-label>
          </ion-col>
          <ion-col class="ion-text-center" (click)="RemoveRecord(d.payload.doc.id)" size="2">
            <ion-icon class="mx-0 iconWhite" name="close" color=""></ion-icon>
          </ion-col>
    </ion-row>
      <!-- <ion-item class="noBorderItem">
        <ion-label>Caixa</ion-label>
        <ion-icon class="mx-0 iconWhite" name="close" color="" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item class="noBorderItem">
        <ion-label>Master</ion-label>
        <ion-icon class="mx-0 iconWhite" name="close" color="" slot="end" align-self-end></ion-icon>
      </ion-item>
      <ion-item class="noBorderItem">
        <ion-label>Pac-Man</ion-label>
        <ion-icon class="mx-0 iconWhite" name="close" color="" slot="end" align-self-end></ion-icon>
      </ion-item> -->
    </ion-list>
    <div class="ion-text-center">
        <ion-button class="font14 iconWhite" fill="clear" (click)="openAgregarTarjeta()">
            <ion-icon slot="start" name="card"></ion-icon>
            Agregar tarjeta o cuenta
          </ion-button>
    </div>

</ion-content>
