<ion-header no-border>
  <ion-toolbar>
    <ion-row>
      <ion-col size="7" class="ion-align-self-center">
          Vegetalia Restaurant
      </ion-col>
      <ion-col class="ion-justify-center ion-align-self-center ion-text-center">
          <div class="font8">activo/inactivo</div>  
          <!-- <ion-toggle class="toggleCustom"></ion-toggle> -->
          <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
            <label class="onoffswitch-label" for="myonoffswitch"></label>
        </div>
      </ion-col>
      <ion-col class="ion-justify-center ion-align-self-center ion-text-center">
          <ion-icon class="font20" name="megaphone" (click)="presentPromocion()"></ion-icon>
          <div class="font8">Promoción</div>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2">
        <ion-icon class="iconBack" src="assets/img/icon/back.svg"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center">
        Escribe aquí el nombre del producto
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="my-0">
        <ion-col class="ion-no-padding">
          <div class="boxBanner">
              <ion-slides [options]="slideOptsOne">
  
                  <ion-slide class="changeStyle">
                    <div class="divWhite borderGris">
                    </div>
                          <div class="addPhoto" color="">
                              <ion-icon class="addIcon" color="bluedark" name="add-circle-outline" (click)="addslider()"></ion-icon>
                          </div>
                          <div class="textP">
                            <p class="ion-text-center my-0 font14">Agregar imagenes al carrusel</p>
                          </div>
                  </ion-slide>
          
                  <ion-slide class="changeStyle">
                    <img class="imgBanner" src="assets/img/rest1.jpg"/>
                    <div class="divEdit" color="bluelight">
                      <ion-icon class="iconEditBanner" color="white" name="create" (click)="addslider()"></ion-icon>
                    </div>
                  </ion-slide>
          
                  <ion-slide class="changeStyle">
                    <img class="imgBanner" src="assets/img/rest1.jpg"/>
                    <div class="divEdit" color="bluelight">
                      <ion-icon class="iconEditBanner" color="white" name="create" (click)="addslider()"></ion-icon>
                    </div>
                  </ion-slide>
          
                  <ion-slide class="changeStyle">
                    <img class="imgBanner" src="assets/img/rest1.jpg"/>
                    <div class="divEdit" color="bluelight">
                      <ion-icon class="iconEditBanner" color="white" name="create" (click)="addslider()"></ion-icon>
                    </div>
                  </ion-slide>
          
                </ion-slides>          
          </div>
        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="7">
          <ion-item class="px-0 itemNoPadding">
          <ion-textarea
            class="font11 ion-no-padding textareaCustom"
            rows="7" 
            cols="20" 
            placeholder="Descripción: Escribe un mensaje descriptivo y motivador, ej: pasta fresca con una salsa de verduras y algas, muy nutritiva y demasiado rica!">
          </ion-textarea>
          </ion-item>
          <ion-item class="px-0 itemNoPadding">
              <ion-textarea
                class="font11"
                rows="4" 
                cols="20" 
                placeholder="Ingredientes: Escribe aqui los ingredientes que componen el plato separados por una coma">
              </ion-textarea>
          </ion-item>
          <ion-item class="px-0 itemNoPadding">
              <ion-textarea
                class="font11"
                rows="7" 
                cols="20" 
                placeholder="Alergenos: Escribe aca todos los ingredientes que puedan causar alergias o reacciones en personas sensibles a ciertas sustancias ej: Gluten, Nueces, Cacahuates, Mariscos">
              </ion-textarea>
          </ion-item>
          <ion-grid>
              <ion-row>
                  <ion-col size="9" class="ion-align-self-center">
                        <p class="my-0 font10">Valores nutricionales:</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="3" class="ion-align-self-center">
                        <div class="onoffswitch-valores">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch5" checked>
                            <label class="onoffswitch-label2" for="myonoffswitch5"></label>
                        </div>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9" class="ion-align-self-center">
                        <p class="my-0 font10">Grasas:</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="3" class="ion-align-self-center">    
                      <ion-input class="inputCustom3 ion-text-center"></ion-input>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9" class="ion-align-self-center">
                        <p class="my-0 font10">Proteínas:</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="3" class="ion-align-self-center">
                      <ion-input class="inputCustom3 ion-text-center"></ion-input>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9" class="ion-align-self-center">
                        <p class="my-0 font10">Carbohidratos:</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="3" class="ion-align-self-center">
                      <ion-input class="inputCustom3 ion-text-center"></ion-input>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="9" class="ion-align-self-center">
                        <p class="my-0 font10">Total calorías:</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="3" class="ion-align-self-center">
                      <ion-input class="inputCustom3 ion-text-center"></ion-input>
                  </ion-col>
              </ion-row>
          </ion-grid>

      </ion-col>
      <ion-col size="5">
          <ion-item>
          <ion-text color="bluewelcome">
              <p class="font11 my-0">
                  Precio con Iva
                </p>
                <p class="my-0 boxP"> <span class="font40">10</span> <span class="font12 decimal">,50€</span>
                </p>
          </ion-text>
          </ion-item>
          <ion-grid class="blue-dark2">
              <ion-row>
                  <ion-col size="12" >
                      <span class="mr-2">Stock</span>
                      <div class="inline">
                          <ion-icon class="iconMargin" name="remove"></ion-icon>
                          <ion-input class="inputCustom2 ion-text-center"></ion-input>
                          <ion-icon class="iconMargin" name="add"></ion-icon>
                      </div>
                  </ion-col>
              </ion-row>
            <ion-row>
              <ion-col size="8" class="ion-align-self-center">
                  <span>Iva 4%</span>
              </ion-col>
              <ion-col size="4">
                  <input type="radio" class="radio1" value="" name="opcion"/>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="8" class="ion-align-self-center">
                    <span>Iva 10%</span>
                </ion-col>
                <ion-col size="4">
                    <input type="radio" class="radio1" value="" name="opcion"/>
                </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col size="8" class="ion-align-self-center">
                      <span>Iva 21%</span>
                  </ion-col>
                  <ion-col size="4">
                      <input type="radio" class="radio1" value="" name="opcion"/>
                  </ion-col>
              </ion-row>
              <ion-row>
                    <ion-col size="8" class="ion-align-self-center">
                        <span>Exento</span>
                    </ion-col>
                    <ion-col size="4">
                        <input type="radio" class="radio1" value="" name="opcion"/>
                    </ion-col>
              </ion-row>
              <ion-row class="padding-section">
                <ion-col size="6" class="ion-align-self-center ion-text-center">
                    <ion-icon class="font20" name="restaurant"></ion-icon>
                    <p class="my-0 font8">Comer en restaurante</p>
                    <!-- <span>Exento</span> -->
                </ion-col>
                <ion-col size="6" class="ion-align-self-center">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" checked>
                        <label class="onoffswitch-label2" for="myonoffswitch2"></label>
                    </div>
                </ion-col>
              </ion-row>
              <ion-row class="padding-section">
                  <ion-col size="6" class="ion-align-self-center ion-text-center">
                      <ion-icon class="font20" name="appstore"></ion-icon>
                      <p class="my-0 font8">Llevar</p>
                      <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="6" class="ion-align-self-center">
                      <div class="onoffswitch">
                          <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch3" checked>
                          <label class="onoffswitch-label2" for="myonoffswitch3"></label>
                      </div>
                  </ion-col>
                </ion-row>
              <ion-row class="padding-section">
                  <ion-col size="6" class="ion-align-self-center ion-text-center">
                        <ion-icon class="font20" name="bicycle"></ion-icon>
                        <p class="my-0 font8">Delivery</p>
                        <!-- <span>Exento</span> -->
                  </ion-col>
                  <ion-col size="6" class="ion-align-self-center">
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch4" checked>
                            <label class="onoffswitch-label2" for="myonoffswitch4"></label>
                        </div>
                  </ion-col>
              </ion-row>
              <div class="save-button">
                  <ion-button class="font12 float-right" color="bluedark"  >Guardar</ion-button>
              </div>
          </ion-grid>
            <!-- <label for="Disponible" class="fontSizeLabel">Todas</label> -->
      </ion-col>
    </ion-row>
</ion-content>
