<ion-content>
	<div class="ion-text-center">
		<ion-icon class="font120" src="assets/img/icon/parlante2.svg"></ion-icon>
	</div>
  	<div class="ion-text-center marginTop">
		<ion-text color="bluewelcome">
			<p class="font36 ion-no-margin">
				Excelente!
			</p>
		</ion-text>
		<ion-text color="bluewelcome">
			<p class="font24">
				Tu promo ha sido <br>
				publicada.
			</p>
		</ion-text>
		<br>
		<ion-button class="font15" fill="clear" color="bluewelcome" (click)="gotohome()">
			Volver
		</ion-button>
    </div>
</ion-content>
