<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addslider</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-text-end">
      <ion-button class="font16" color="white" fill="clear" (click)="closeModal()">
          <ion-icon slot="end" name="close"></ion-icon>
        </ion-button>
  </div>
  <div class="boxImg">
      <img class="imgPreviuw" src="assets/img/rest1.jpg" alt="previuw">
  </div>
    <ion-row class="btnNuevo">
        <ion-col size="12" class="ion-text-center">
            <ion-button class="font15" color="bluedark" >Buscar</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
<!-- (click)="buscarfoto()" -->
