<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addslider</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content >
  <div class="ion-text-end">
    <ion-button class="font16" color="white" fill="clear" (click)="closeModal()">
      <ion-icon slot="end" name="close"></ion-icon>
    </ion-button>
  </div>
  <ion-item>
  <div class="boxImg">
      <img class="imgPreviuw" src="{{avatar}}" alt="previuw">
  </div>
</ion-item>
    <ion-row class="btnNuevoGuardar">
        <ion-col size="12" class="ion-text-center">
            <ion-button class="font15"  color="bluedark" (click)="pickImage('create')" >Buscar</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
<!-- (click)="buscarfoto()" -->
