
.card-expandable{
    box-shadow: none !important;
    border-bottom: 1px solid;
    border-color: #657b97;
}
.margin-header{
    margin-bottom:4pt;
    margin-left: -8pt;
}
.arrow-icon{
    position: absolute;
    font-size: 25pt;
}
.color-font{
    color:black;
}
// .content-expandable{
//     height: 78px;
// }