
<ion-content>
  <ion-icon class="backHeader ion-text-center" src="assets/img/icon/back.svg" routerLink="/opciones"></ion-icon>
  <ion-row>
    <ion-col class="ion-text-center" size="12">
      <p class="my-0">
        <ion-icon class="iconHeader" src="assets/img/icon/reloj.svg"></ion-icon>
      </p>
      <p class="titleHeader my-0">Historial</p>
    </ion-col>
  </ion-row>
<!-- Ingresos -->
    <ion-card class="card-expandable" (click)="expandItem(item)" *ngFor="let item of items">
        <ion-card-header class="margin-header" (click)="toggleZipped()">
          <ion-card-title class="text-historial bold font12">Ingresos <ion-icon class="arrow-icon" color="bluedark" [name]="zipped ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content class="content-expandable">
          <app-expandable expandHeight="120px" [expanded]="item.expanded">
            <p class="blue-dark2 font12">
              Esta semana
            </p>
            <p class="blue-dark2 font12">
              Este mes
            </p>
            <p class="blue-dark2 font12">
              Anterior
            </p>
          </app-expandable>
        </ion-card-content>
      </ion-card>
<!-- Egresos -->
    <ion-card class="card-expandable" (click)="expandItem2(item)" *ngFor="let item of items">
          <ion-card-header class="margin-header" (click)="toggleZipped2()">
            <ion-card-title class="text-historial bold font12">Egresos <ion-icon class="arrow-icon" color="bluedark" [name]="zipped2 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="content-expandable">
            <app-expandable expandHeight="120px" [expanded]="item.expanded2">
              <p class="blue-dark2 font12">
                Esta semana
              </p>
              <p class="blue-dark2 font12">
                Este mes
              </p>
              <p class="blue-dark2 font12">
                Anterior
              </p>
            </app-expandable>
          </ion-card-content>
    </ion-card>
<!-- Puntos Otorgados -->
<ion-card class="card-expandable" (click)="expandItem3(item)" *ngFor="let item of items">
    <ion-card-header class="margin-header" (click)="toggleZipped3()">
      <ion-card-title class="text-historial bold font12">Puntos otorgados <ion-icon class="arrow-icon" color="bluedark" [name]="zipped3 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-expandable">
      <app-expandable expandHeight="120px" [expanded]="item.expanded3">
        <p class="blue-dark2 font12">
          Esta semana
        </p>
        <p class="blue-dark2 font12">
          Este mes
        </p>
        <p class="blue-dark2 font12">
          Anterior
        </p>
      </app-expandable>
    </ion-card-content>
</ion-card>
<!-- Puntos Canjeados -->
<ion-card class="card-expandable" (click)="expandItem4(item)" *ngFor="let item of items">
    <ion-card-header class="margin-header" (click)="toggleZipped4()">
      <ion-card-title class="text-historial bold font12">Puntos canjeados <ion-icon class="arrow-icon" color="bluedark" [name]="zipped4 ? 'arrow-dropright' : 'arrow-dropdown'"></ion-icon></ion-card-title>
    </ion-card-header>
    <ion-card-content class="content-expandable">
      <app-expandable expandHeight="120px" [expanded]="item.expanded4">
        <p class="blue-dark2 font12">
          Esta semana
        </p>
        <p class="blue-dark2 font12">
          Este mes
        </p>
        <p class="blue-dark2 font12">
          Anterior
        </p>
      </app-expandable>
    </ion-card-content>
</ion-card>
</ion-content>
