<!-- <ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
	<div class="ion-text-center div-cont">
		<ion-button class="font14 button-search" fill="clear">
			Buscar
			<ion-icon class="font20 search-icon" slot="end" name="search"></ion-icon>
		</ion-button>
		<div class="ion-text-center" class="p-div">
			<ion-item class="ion-no-padding itemTransparent">
				<ion-input type="text" class="p-input"></ion-input>
			</ion-item>
		</div>
	</div>
	<ion-row class="btnIr">
      <ion-col size="12" class="ion-text-center">
          <ion-button  type="button" class="btn-ir font15" color="bluedark">Ir</ion-button>
      </ion-col>
   </ion-row>
</ion-content>
