.button-search{
    --padding-top:0px !important;
    color: black;
}
.search-icon{
    color: #3880ff;
}
.p-div{
	padding-left:20px !important;
	padding-right: 20px !important;
}
.p-input{
	margin-left:20px;
}
.div-cont{
	margin-top: 4%;
}
.btnIr{
	margin-top:40%;
}
.btn-ir{
	width: 40% !important;
}