  <div class="ion-margin-horizontal">
      <ion-buttons slot="primary" class="xModal">
          <ion-button color="dark" fill="clear" (click)="closeModal()">
            <ion-icon slot="end" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-text color="bluedark">
      <h3 class="ion-text-center">Políticas de privacidad</h3>
    </ion-text>
    <p class="ion-text-justify font14">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
    </p>
  
    <p class="ion-text-justify font14">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat sunt sequi quidem explicabo aperiam dicta debitis molestias odit, labore non deleniti nulla laborum consectetur eaque fugiat, beatae unde ab!m
    </p>
  </div>
  
